.blogContent{
  background: #055;
  margin-top: 2%;
  display: inline-block;
  position: relative;
  
}
/* .genome-blog {
  
position: relative; 
margin: 5%;
padding: 1%;
border-color: rgb(3, 85, 0);
font-family: 'Courier New', Courier, monospace;
 font-size: 14px;
} */

.maindiv{
  display: inline-block;
  border: 2px solid #055;

} 
.mainform{

  border: 2px solid #055;
  background: #055;
  margin-top: 2%;
  display: inline-block;
 
}

.playground > div{
   /* display: inline; */
  position: relative;
  
}

.blogImage{
  max-width: 10em;
  max-height:16em;
}
.single-grid{
  
   border: 1px solid ;
   margin: 0em 0 3em;
   background: #033;
   /* max-width: 30%;
   max-height: 40%; */
   font-family: 'Roboto Slab', serif;
   box-shadow: 5px 6px;
   font-family: 'Roboto Slab', serif;
   font-size: 12px;
   text-align: left;

}
 p{color: #798898;}
 h1{color: #798898;}
.single-grid h4{
	margin:0 0 0.3em;
	font-size:2em;
	  font-family: 'Montserrat', sans-serif;
}
.single-grid h4 a{
	text-decoration:none;
	  color:#7D3F98;
}
.single-grid h4 a:hover{
	  color:#00bce4;
}
.single-grid h5{
	font-size:1.8em;
	  font-family: 'Montserrat', sans-serif;
	  color:#626262;
}
.single-grid p{
	margin:0.7em 0 1em;
	font-size:1.1em;
	color:#BEBDBD;
	line-height:1.5em;
}