.all-single-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 3px white;
  grid-gap: 10px;
  margin: 0 auto;
  padding: 5px;

}
.card-edu>h1 {
  text-align: center;
  font-weight: bold;
}
.card-edu>p{
  color: gray;
}
.card-edu>img {
  width: 100%;
  height: auto;
}
.form-card > form > label{
  text-transform: uppercase;
  font-size:15px;
  font-weight: bolder;
  color: red;
}
.card-edu {
  border: 1px solid gray;
}

.form-btn {
 height: auto;
 font-size: 15px;
 color: blue;
 border-radius: 3px 3px 3px 3px;
 background: transparent;
 border: 1px solid blue;
}
.form-btn-delete {
  height: auto;
  font-size: 15px;
  color: red;
  border-radius: 3px 3px 3px 3px;
  background: transparent;
  border: 1px solid red;
 }

.form-control {
  font-size: 20px;
  border-radius: 3px 3px 3px 3px;
  color: gray;
  margin: 5px;


}
