.navv {
    list-style-type: none;
    margin: 0;
   padding:50px;
    overflow: hidden;
    background-color: #00b0f0;
    padding-bottom: 46px;

padding-top: 44px;

margin-left: 0px;
  }
  
  .li {
    float: left;
  }
  
  .lia {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 6px;
    text-decoration: none;
    width:150px;
    margin-bottom:-25px;
    font: 15px "Roboto", sans-serif;
  }
  
  .lia:hover:not(.active) {
    background-color: #f15f24;
  }
  
  .active {
    background-color: #f15f24;
  }
.logo{
    padding-right:30px;
    margin-left:-49px;
  margin-bottom:-50px;
  margin-top:-50px
}