

.studentsDiv>img {
   
   
    margin-left: 30px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3), 0 0 0 1px rgba(0,0,0,0.2);

    padding:0px;
    margin-top: 100px;
  width: 200px;
  height: 300px;
  border-radius: 50%;

 }
 .thirdm{

    border: 2px solid rgb(243, 239, 12);
    background: rgb(243, 143, 12);
    margin-top: 40px;
    width:400px;
    height:500px;
    display: inline-block;
    border-radius: 30%;
  }
  .put{
      margin-top: 60px;
      width: 250px;
      height:35px;
      background-color:rgb(165, 121, 0);
      border-radius: 6px;
  }
  .mit{
      margin-top: 40px;
      background-color:rgb(165, 121, 0);
      border-radius: 50%;
      width:70px;
      height:50px;
    margin-right: 10px;
    border:1px solid black;
    font-size: 15px
  }

.addform{
    margin: 20px;
 color: darkcyan;
 border: black solid 3px;
 border-radius: 30px;
 padding: 7px;

}
.form-input { box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3), 0 0 0 1px rgba(0,0,0,0.2);
    border-radius: 5px;

}
.studentsDiv {

    
    margin: 20px;
    float: left;

}